@import "tailwindcss";
@plugin "@toolwind/corner-shape";
@plugin "@tailwindcss/typography";

@custom-variant not-found (&:where([data-not-found="true"]));
@custom-variant error (&:where([data-error="true"]));
@custom-variant progress (&:where([data-progress="true"]));

@theme {
  --color-orange-accent: oklch(71.85% 0.17 47.43);
  --color-search-input: oklch(48.91% 0 0);
  --color-black: oklch(0% 0 0);

  --shadow-model-card: 0 5px 12px oklch(from var(--color-black) l c h / 0.1);

  --category-width-tablet: 140px;

  --category-width-mobile: calc(100vw - 10px);
}

/* BASE STYLES */
@layer base {
  html {
    scrollbar-gutter: stable;
    scrollbar-width: thin;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-montserrat-alternates);
  }
}

/* UTILITIES */
@utility nav-link {
  @apply text-sm font-medium text-black hover:text-orange-accent/75 transition-colors duration-200;

  &.active {
    @apply text-orange-accent font-semibold border-current;
  }
  &:not([data-border-bottom]).active {
    @apply md:border-l-2 md:pl-3;
  }

  &[data-border-bottom] {
    @apply py-2;
  }

  &[data-border-bottom].active {
    @apply md:border-b-2;
  }
}

@utility no-scrollbar {
  ::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Animated loading dots */
@utility loading-dots {
  position: relative;
  &:where(::after, ::before) {
    content: ".";
    position: absolute;
    animation: --fade-in 0.6s ease-in-out infinite alternate;
  }

  &::before {
    animation-delay: 0.2s;
  }

  &::after {
    animation-delay: 0.4s;
  }
}

@utility models-grid {
  @apply grid grid-cols-[repeat(auto-fill,minmax(min(100%,250px),1fr))] gap-6;
}

/* Model card progress state */
.model-card:has([data-progress="true"]),
.model-card:has([data-progress="true"]) * {
  @apply cursor-progress;
}

/* VIEW TRANSITIONS */

::view-transition-old(.exit):only-child {
  --slide-distance: 20px;
  animation:
    --fade-out 250ms,
    --slide-out 250ms;
}

::view-transition-new(.enter):only-child {
  --slide-distance: -20px;
  animation:
    --fade-in 250ms,
    --slide-in 250ms;
}

::view-transition-old(.exit-left) {
  --slide-distance: -60px;
  animation:
    --fade-out 250ms,
    --slide-out 250ms;
}

::view-transition-new(.enter-left) {
  --slide-distance: -60px;
  animation:
    --fade-in 250ms,
    --slide-in 250ms;
}

::view-transition-old(.exit-right) {
  --slide-distance: calc(100vw + 60px);
  animation:
    --fade-out 250ms,
    --slide-out 250ms;
}

::view-transition-new(.enter-right) {
  --slide-distance: calc(100vw + 60px);
  animation:
    --fade-in 250ms,
    --slide-in 250ms;
}

/* ANIMATIONS */
/* Base composable animations */
@keyframes --fade-in {
  from {
    opacity: 0;
    /* add small blur so users dont get sore eyes tracking movement */
    filter: blur(2px);
  }
  to {
    opacity: 1;
    filter: blur(0px);
  }
}

@keyframes --fade-out {
  from {
    opacity: 1;
    /* add small blur so users dont get sore eyes tracking movement */
    filter: blur(2px);
  }
  to {
    opacity: 0;
  }
}

@keyframes --slide-in {
  from {
    translate: var(--slide-distance);
  }
  to {
    translate: 0 0;
  }
}

@keyframes --slide-out {
  from {
    translate: 0 0;
  }
  to {
    translate: var(--slide-distance);
  }
}
