@import "tailwindcss";
@plugin "@toolwind/corner-shape";

@custom-variant not-found (&:where([data-not-found="true"]));

@theme {
  --color-orange-accent: oklch(71.85% 0.17 47.43);
  --color-search-input: oklch(48.91% 0 0);
  --color-black: oklch(0% 0 0);

  --shadow-model-card: 0 5px 12px oklch(from var(--color-black) l c h / 0.1);

  --category-width-tablet: 140px;

  --category-width-mobile: calc(100vw - 10px);
}

/* BASE STYLES */
@layer base {
  html {
    scrollbar-gutter: stable;
    scrollbar-width: thin;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-montserrat-alternates);
  }
}

/* UTILITIES */
@utility nav-link {
  @apply text-sm font-medium text-black hover:text-orange-accent/75 transition-colors duration-200;

  &.active {
    @apply text-orange-accent font-semibold border-current;
  }
  &:not([data-border-bottom]).active {
    @apply md:border-l-2 md:pl-3;
  }

  &[data-border-bottom] {
    @apply py-2;
  }

  &[data-border-bottom].active {
    @apply md:border-b-2;
  }
}

@utility no-scrollbar {
  ::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Animated loading dots */
@utility loading-dots {
  position: relative;
  &:where(::after, ::before) {
    content: ".";
    position: absolute;
    animation: --fade-in 0.6s ease-in-out infinite alternate;
  }

  &::before {
    animation-delay: 0.2s;
  }

  &::after {
    animation-delay: 0.4s;
  }
}

@utility models-grid {
  @apply grid grid-cols-[repeat(auto-fill,minmax(min(100%,250px),1fr))] gap-6;
}

/* VIEW TRANSITIONS */
::view-transition-group(*) {
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

::view-transition-old(.exit):only-child {
  animation-name: --fade-out;
}

::view-transition-new(.enter):only-child {
  animation-name: --fade-in;
}
/* ANIMATIONS */
@keyframes --fade-out {
  from {
    opacity: 1;
    transform: translateY(0);
    translate: 0 0;
  }
  to {
    opacity: 0;
    translate: 0 -10px;
  }
}

@keyframes --fade-in {
  from {
    opacity: 0;
    translate: 0 10px;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}
