@import "tailwindcss";
@plugin "@toolwind/corner-shape";

@theme {
  --color-orange-accent: #f77d36;
  --color-search-input: #606060;

  --shadow-model-card: 0 5px 12px rgba(0, 0, 0, 0.1);

  --category-width: 256px;

  --category-mobile-width: calc(100svw - 10px);
}

/* BASE STYLES */
@layer base {
  html {
    scrollbar-gutter: stable;
    scrollbar-width: thin;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-montserrat-alternates);
  }
}

/* UTILITIES */
@utility nav-link {
  @apply text-sm font-medium text-black hover:text-orange-accent/75 transition-colors duration-200;

  &.active {
    @apply text-orange-accent font-semibold border-current;
  }
  &:not([data-border-bottom]).active {
    @apply border-l-2 pl-3;
  }

  &[data-border-bottom] {
    @apply py-2;
  }

  &[data-border-bottom].active {
    @apply border-b-2;
  }
}

@utility no-scrollbar {
  ::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Animated loading dots */
@utility loading-dots {
  position: relative;
  &::before,
  &::after {
    content: ".";
    position: absolute;
    animation: --fade-in 0.6s ease-in-out infinite alternate;
  }

  &::before {
    animation-delay: 0.2s;
  }

  &::after {
    animation-delay: 0.4s;
  }
}

/* VIEW TRANSITIONS */
::view-transition-group(*) {
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

::view-transition-old(.exit):only-child {
  animation-name: --fade-out;
}

::view-transition-new(.enter):only-child {
  animation-name: --fade-in;
}
/* ANIMATIONS */
@keyframes --fade-out {
  from {
    opacity: 1;
    transform: translateY(0);
    translate: 0 0;
  }
  to {
    opacity: 0;
    translate: 0 -10px;
  }
}

@keyframes --fade-in {
  from {
    opacity: 0;
    translate: 0 10px;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}
